html {
    box-sizing: border-box;
    font-size: 16px;
  }
  
*, *:before, *:after {
    box-sizing: inherit;
  }
  
body, h1, h2, h3, h4, h5, h6, p, ol, ul {
    margin: 0;
    padding: 0;
    font-weight: normal;
    color: white;
    font-family: 'Raleway', sans-serif;
  }
  
ol, ul {
    list-style: none;
  }
  
img {
    max-width: 100%;
    height: auto;
  }

body {
    background: url("bar.jpg");
    background-size: cover;
  }

.selector {
  border: 3px solid white;
  text-align: center;
  height: 90px;
  width: 50%;
  border-radius: 8px;
  margin: 2% 25%;
  background-color: rgba(43, 27, 27, 0.6);
  
}

.alcohol {
  margin: 2% 25%;
  border: 3px solid white;
  width: 50%;
  height: 70px;
  text-align: center;
  border-radius: 8px;
  padding: 20px 0;
  background-color: rgba(43, 27, 27, 0.6);
}

button {
  color: white;
  background-color: rgba(43, 27, 27, 0.6);
  border: 3px solid white;
  border-radius: 8px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
  font-family: 'Raleway', sans-serif;
 }

 input {
  background-color: rgba(43, 27, 27, 0.6);
  border-radius: 8px;
  border: 3px solid white;
  color: white;
  font-family: 'Raleway', sans-serif;
 }

#alcoholCalculationButton {
 margin: 2% 25%;
}

#alcoholCalculationButton:hover,
#alcoholCalculationButton:active {
    background-color: #fff; color: #000; 
    transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

#typeOfDrink__Button {
  margin: 2% 5%;
}

#typeOfDrink__Button:hover,
#typeOfDrink__Button:active {
  background-color: #fff; color: #000; 
  transition: background-color 0.3s ease-in, color 0.3s ease-in;
}

.results {
  margin: 2% 25%;
  border: 3px solid white;
  width: 50%;
  height: 70px;
  text-align: center;
  border-radius: 8px;
  padding: 20px 0;
  background-color: rgba(43, 27, 27, 0.6);
}

@media (max-width: 800px){
  body {
      display: grid;
      grid-template-columns: 1fr;
      margin-top: 30px;
  }
  .selector {
    height: 250px;
  }
  .results {
    height: 150px;
  }

  .alcohol {
  height: 170px;

  
  }
}